<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cr-06-improved</title>
    <link rel="stylesheet" href="../../css/templates/cr-06-improved.css">
</head>

<body>



<div class="cr-06">
    <div>
        <div>
            <img src="../../images/cr-06/camp chef/expediton-3-burner-stove.png" alt="">
            <button>Shop Now</button>
        </div>
        <div>
            <h3>Product Name Product Name Product Name Product</h3>
            <h3>Brand</h3>
        </div>
    </div>

    <div>
        <div>
            <img src="../../images/wireframe/carousel-img.png" alt="">
            <button>Shop Now</button>
        </div>
        <div>
            <h3>Product Name</h3>
            <h3>Brand</h3>
        </div>
    </div>

    <div>
        <div>
            <img src="../../images/wireframe/carousel-img.png" alt="">
            <button>Shop Now</button>
        </div>
        <div>
            <h3>Product Name</h3>
            <h3>Brand</h3>
        </div>
    </div>

    <div>
        <div>
            <img src="../../images/wireframe/carousel-img.png" alt="">
            <button>Shop Now</button>
        </div>
        <div>
            <h3>Product Name</h3>
            <h3>Brand</h3>
        </div>
    </div>

    <div>
        <div>
            <img src="../../images/wireframe/carousel-img.png" alt="">
            <button>Shop Now</button>
        </div>
        <div>
            <h3>Product Name</h3>
            <h3>Brand</h3>
        </div>
    </div>
</div>



</body>

</html>