<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cr-05 Improved</title>
    <link rel="stylesheet" href="../../css/templates/cr-05.css">
</head>
<body>

    <div class="cr-05">
        <div>
            <img src="../../images/cr-10/carhartt-beanie.jpg" alt="">
        </div>

        <div class="cr-05-txt">
            <h2>Carhartt A18 Beanie</h2>
            <p>Born in 1987, the A18 Watch Hat quickly rose as an icon. Originally designed as a workwear essential, it can now be found at construction sites and campgrounds, state fairs and football stadiums. Thick acrylic yarn makes this men's hat a warm option for the colder months. Soft to the touch, the stretchy rib knit creates a stay-put fit.</p>
            <button onclick="window.location.href='https://www.calranch.com/'">Shop Now</button>
        </div>
    </div>

</body>
    
</body>
</html>