<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cr-04</title>
    <link rel="stylesheet" href="../../css/templates/cr-04.css">
</head>
<body>

    <div class="cr-04">
        <div class="cr-04-box">
            <img src="../../images/wireframe/3-split.jpg" alt="">
            <div>
                <h2>Bucky</h2>
                <button>Shop Now</button>
            </div>
        </div>
        <div class="cr-04-box">
            <img src="../../images/wireframe/3-split.jpg" alt="">
            <div>
                <h2>Wishbone</h2>
                <button>Shop Now</button>
            </div>
        </div>
        <div class="cr-04-box">
            <img src="../../images/wireframe/3-split.jpg" alt="">
            <div>
                <h2>Angel</h2>
                <button>Shop Now</button>
            </div>
        </div>
    </div>
    
</body>
</html>