<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image-Text Combo Template</title>
    <link rel="stylesheet" href="../../css/templates/cr-05.css">
</head>
<body>

    <div class="cr-05">

        <div>
            <img src="../../images/wireframe/img+txt.jpg" alt="">
        </div>

        <div class="cr-05-txt-panel">
            <div>
                <h2 class="cr-05-txt-panel-h2">Carhartt</h2>
            </div>
            <div class="cr-05-txt-panel-txt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tempora libero nemo suscipit sint dignissimos ab, possimus quam atque ipsa ea voluptatem culpa, ullam recusandae!
            </div>
            <div>
                <button class="cr-05-btn">Shop Now</button>
            </div>
        </div>

    </div>
    
</body>
</html>