<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Bar Template</title>
    <link rel="stylesheet" href="../../css/templates/cr-06.css">
</head>
<body>

    <div class="cr-06">

        <a class="cr-06-link" href="https://www.calranch.com">
            <div class="cr-06-product">
                <div class="cr-06-img-div">
                    <img class="cr-06-img" src="../../images/wireframe/carousel-img.png" alt="">
                </div>
                <div class="cr-06-text">
                    <div>
                        <h3 class="cr-06-name">Women's Horizon Super Softshell Jacket</h3>
                    </div>
                    <div>
                        <h3 class="cr-06-brand">Free Country</h3>
                    </div>
                </div>
            </div>
        </a>

        <a class="cr-06-link" href="#">
            <div class="cr-06-product">
                <div class="cr-06-img-div">
                    <img class="cr-06-img" src="../../images/wireframe/carousel-img.png" alt="">
                </div>
                <div class="cr-06-text">
                    <div>
                        <h3 class="cr-06-name">Women's Insulated Active Jacket</h3>
                    </div>
                    <div>
                        <h3 class="cr-06-brand">Carhartt</h3>
                    </div>
                </div>
            </div>
        </a>

        <a class="cr-06-link" href="#">
            <div class="cr-06-product">
                <div class="cr-06-img-div">
                    <img class="cr-06-img" src="../../images/wireframe/carousel-img.png" alt="">
                </div>
                <div class="cr-06-text">
                    <div>
                        <h3 class="cr-06-name">Women's Duracanvas Insulated Jacket</h3>
                    </div>
                    <div>
                        <h3 class="cr-06-brand">Ariat</h3>
                    </div>
                </div>
            </div>
        </a>

        <a class="cr-06-link" href="#">
            <div class="cr-06-product">
                <div class="cr-06-img-div">
                    <img class="cr-06-img" src="../../images/wireframe/carousel-img.png" alt="">
                </div>
                <div class="cr-06-text">
                    <div>
                        <h3 class="cr-06-name">Women's Sherpa Lined Jacket</h3>
                    </div>
                    <div>
                        <h3 class="cr-06-brand">Carhartt</h3>
                    </div>
                </div>
            </div>
        </a>


        
        <a class="cr-06-link" href="#">     
            <div class="cr-06-product">
                <div class="cr-06-img-div">
                    <img class="cr-06-img" src="../../images/wireframe/carousel-img.png" alt="">
                </div>
                <div class="cr-06-text">
                    <div>
                        <h3 class="cr-06-name">Women's Real Grizzly Utility Jacket</h3>
                    </div>
                    <div>
                        <h3 class="cr-06-brand">Ariat</h3>
                    </div>
                </div>
            </div>
        </a>

    </div>
    
</body>
</html>