<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carhartt Winter Clothing</title>
    <link rel="stylesheet" href="../css/cr-me.css">
</head>
<body>

    <div class="cr-me">
        <img class="cr-me-img" src="../images/me-experience/winter-clothing/carhartt-winer-clothing-Desktop1920x525.jpg" alt="Carhartt Winter Clothing">
        <div class="cr-me-badge">
            <div class="cr-me-badge-img-div">
                <img class="cr-me-badge-img" src="../images/me-experience/winter-clothing/text-logo.png" alt="">
            </div>
            <div class="cr-me-h3-div">
                <h3 class="cr-me-h3">Carhartt Winter Gear</h3>               
            </div>
            <div class="cr-me-h4-div">
                <h4 class="cr-me-h4">...And So Much More</h4>
            </div>
            <div class="cr-me-btn-div">
                <button class="cr-me-btn">Shop Now</button>
            </div>
        </div>
        <div>

        </div>
    </div>
    
</body>
</html>