/*****  Styling for Block-Element cr-03  *****/

.cr-03-banner {
    width: 100%;
}

.cr-03-mobile-banner {
    display: none;
}


@media only screen and (max-width: 768px) {
    .cr-03-banner {
        display: none;
    }

    .cr-03-mobile-banner {
        display: block;
        width: 100%;
    }
}

/*****  End Styling for Block-Element cr-03  *****/