
.cr-10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "montserratregular",Helvetica,Arial,sans-serif;
}

.cr-10 img {
    width: 100%;
    display: block;
}

.cr-10-txt {
    padding: 0px 20%;
    align-self: center;
}

.cr-10-txt h2 {
    font-size: 30px;
    margin: 0px 0px 10px;
}

.cr-10-txt p {
    text-align: justify;
}

.cr-10-txt button {
    background-color: #fff;
    color: #000;
    font-weight: 800;
    font-size: 14px;
    border: 2px solid #000;
    padding: 15px;
    border-radius: 0;
    white-space: nowrap;
    margin-top: 10px;
}

.cr-10-txt button:hover {
    background-color: #000;
    color: #fff;
}


@media only screen and (max-width: 1350px) {
    .cr-10 {
        grid-template-columns: 1fr 2fr;
    }

    .cr-10-txt {
        padding: 0px 5%;
    }
}


@media only screen and (max-width: 1024px) {
    .cr-10 {
        grid-template-columns: 1fr;
    }

    .cr-10-txt {
        grid-row: 2/3;
        padding: 20px 5px 0px;
        text-align: center;
    }

    .cr-10-txt h2 {
        margin-top: 0px;
    }
}
