/*****  Styling for Shipping Banner  *****/

.cr-shipping-banner-txt {
    font-size: 21px;
}

.cr-shipping-banner-details {
    text-decoration: underline;
    margin-left: 12px;
}

.global-promo-bar {
    background: white;
}

@media only screen and (max-width: 475px) {
    .global-promo-bar {
        background: white;
    }
}


@media only screen and (max-width: 475px) {

    .cr-shipping-banner-txt {
        font-size: 15px;
    }
}

/***** End Styling for Shipping Banner  *****/


/*****  Contains Homepage Elements to a Max Width  *****/

.cr-homepage-max-width {
    max-width: 2560px;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*****  End Max Width Container  *****/



/*****  Prevents Content in Row From Wrapping at Mobile Breakpoint  *****/
.cr_flex_wrap_none {
    flex-wrap: nowrap;
}

/*****  Setting an Element as a Block  *****/
.display_block {
    display: block;
}


/*****  Formatting for Block-Element: "brands-bar-code"  *****/


.cr-home-brands-bar {
    display: grid;
    grid-gap: 85px;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px 0px;
    justify-items: center;
    align-items: center;
}

.cr-home-brands-bar-grid-item {
    width: 70%;
    height: auto;
}

.cr-wrangler-logo {
    padding-top: 15px;
}


@media only screen and (max-width: 1500px) {
    .cr-home-brands-bar {
        grid-gap: 65px;
    }
}


@media only screen and (max-width: 1350px) {
    .cr-home-brands-bar {
        grid-gap: 40px;
    }
}


@media only screen and (max-width: 1150px) {
    .cr-home-brands-bar {
        grid-gap: 25px;
    }
}


@media only screen and (max-width: 768px) {
    .cr-home-brands-bar {
        padding: 8px;
    }

    .cr-home-brands-bar-grid-item {
        width: 90%;
        height: auto;
    }

    .cr-wrangler-logo {
        padding-top: 7px;
    }
}


/*****  End Formatting for Block: "brands-bar-code"  *****/



/*****  Hides Content at Mobile Breakpoint  *****/
@media only screen and (max-width: 768px) {
    .mobile_display_none {
        display: none;
        height: 0px !important;
        margin: 0px;
        padding: 0px;
    }
}

/*****  Formatting for 3-Image-Wide Ad Block  *****/

.cr-home-3wide-ad-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cr-home-3wide-ad-bar div {
    position: relative;
}

.cr-home-3wide-ad-bar-grid-item {
    width: 100%;
    height: auto;
}

.cr-center-img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


@media only screen and (max-width: 768px) {
    .cr-home-3wide-ad-bar {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*****  End Formatting for 3-Image-Wide Ad Block  *****/



/*****  Styling for Block-Element: "image-text-combo-bar"  *****/

.cr-image-text-combo-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.cr-image-text-combo-bar-grid-item {
    width: 100%;
    height: auto;
}

.cr-homepage-product-button {
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 0px;
}

.cr-homepage-product-button:hover {
    background-color: black;
    color: white;
}

.cr-homepage-product-button:focus {
    border-radius: 0px;
}

.cr-image-text-combo-bar-grid-item-text {
    padding: 0px 40px 0px 150px;
    text-align: left;
    grid-column: 1/2;
    grid-row: 1/2;
}

.cr-05-camp-chef-img-div {
    grid-column: 2/3;
    grid-row: 1/2;
}

h1.cr-image-text-combo-bar-grid-item {
    margin-bottom: 17px;
    font-family: "montserratregular", Helvetica, Arial, sans-serif;
    font-size: 40px;
}

p.cr-image-text-combo-bar-grid-item {
    margin-bottom: 17px;
}

button.cr-homepage-product-button {
    font-weight: 800;
}

button.cr-homepage-product-button:hover {
    border: 2px solid black;
}

@media only screen and (max-width: 1024px) {
    .cr-image-text-combo-bar {
        grid-template-columns: 2fr 1fr;
    }

    .cr-image-text-combo-bar-grid-item-text {
        padding: 0px 40px 0px 40px;
    }
}

@media only screen and (max-width: 768px) {
    .cr-image-text-combo-bar {
        grid-template-columns: 1fr;
    }

    .cr-image-text-combo-bar-grid-item-text {
        padding: 15px 5px;
    }

    .cr-image-text-combo-bar-grid-item-text {
        grid-row: 2/3;
        grid-column: 1/3;
        text-align: center;
    }

    .cr-05-camp-chef-img-div {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    h1.cr-image-text-combo-bar-grid-item {
        font-size: 30px;
        }
    }

    /*****  End Styling for Block-Element: "image-text-combo-bar"  *****/



    /*****  Styling for Block-Element: "featured-product-cutout-bar"  *****/

    .cr-cutout-text-combo-bar {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .cr-cutout-text-combo-bar-grid-item {
        width: 100%;
        height: auto;
    }

    .cr-cutout-text-combo-bar-grid-item-text {
        padding: 0px 200px;
        text-align: left;

    }

    h1.cr-cutout-text-combo-bar-grid-item {
        margin-bottom: 17px;
    }

    p.cr-cutout-text-combo-bar-grid-item {
        margin-bottom: 17px;
    }

    img.cr-cutout-text-combo-bar-grid-item {
        max-width: 570px;
        min-width: 330px;
    }


    @media only screen and (max-width: 1024px) {
        .cr-cutout-text-combo-bar-grid-item-text {
            padding: 0px 100px;
        }
    }


    @media only screen and (max-width: 768px) {
        .cr-cutout-text-combo-bar {
            grid-template-columns: 1fr;
        }

        .cr-cutout-text-combo-bar-grid-item-text {
            padding: 0px 5px;
        }
    }

    /*****  End Styling for Block-Element: "featured-product-cutout-bar"  *****/


    /*****  Styling for Block-Element: "five-products-bar"  *****/

    .cr-five-product-bar {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2px;
        padding: 0px 60px;
        position: relative;
    }

    .cr-five-product-bar-img:hover {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .cr-five-product-bar-img {
        padding-bottom: 25px;
    }


    @media only screen and (max-width: 1475px) {
        .cr-five-product-bar-img {
            width: 100%;
        }
    }

    @media only screen and (max-width: 1024px) {
        .cr-five-product-bar {
            padding: 0px 10px;
        }
    }

    @media only screen and (max-width: 768px) {
        .cr-five-product-bar {
            grid-template-columns: 1fr;
            justify-items: center;
        }

        .cr-five-product-bar-img {
            width: auto;
            height: auto;
        }
    }

    /*****  End Styling for Block-Element: "five-products-bar"  *****/



    /*****  Styling for Block-Element: "five-product-bar-womens-outerwear"  *****/

    .cr-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-family: "montserratregular", Helvetica, Arial, sans-serif;
        margin: 0px 50px;
        grid-gap: 70px;
    }

    .cr-product {
        padding: 20px;
        justify-items: center;
    }

    .cr-product-img {
        text-align: center;
    }

    img.five-prod-bar-img {
        max-width: 220px;
    }

    a.five-prod-bar-link {
        text-decoration: none;
        color: black;
    }

    a.five-prod-bar-link:hover {
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    h3.cr-product-name {
        font-size: 1em;
        margin: 5px auto;
        text-align: center;
        width: 85%;
        font-family: 'montserratbold';
    }

    h3.cr-product-brand {
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        color: #81907b;
        font-size: 1em;
        font-family: 'montserratbold';
    }


    @media only screen and (max-width: 1415px) {
        .cr-container {
            margin: 0px 10px 0px 10px;
        }
    }

    @media only screen and (max-width: 1300px) {
        img.five-prod-bar-img {
            width: 100%;
            height: auto;
        }
    }


    @media only screen and (max-width: 1650px) {
        .cr-container {
            grid-gap: 40px;
        }
    }

    @media only screen and (max-width: 1550px) {
        .cr-container {
            grid-gap: 20px;
        }
    }

    @media only screen and (max-width: 1415px) {
        .cr-container {
            grid-gap: 0px;
        }
    }


    @media only screen and (max-width: 1024px) {
        .cr-product {
            padding: 5px;
        }
    }


    @media only screen and (max-width: 768px) {
        .cr-container {
            grid-template-columns: repeat(2, 1fr);
        }

        a.five-prod-bar-link:hover {
            box-shadow: 0 0 0 0;
        }
    }


    @media only screen and (max-width: 620px) {
        .cr-container {
            grid-template-columns: 1fr;
        }
    }


    /*****  End Styling for Block-Element: "five-product-bar-womens-outerwear"  *****/



    /*****  Styling for Block-Element: "carhartt-winter-clothing-banner"  *****/

    .cr-carhartt-winter-clothing {
        position: relative;
        text-align: center;
        width: 100%;
    }

    .cr-text-top-right {
        position: absolute;
        top: 8px;
        right: 16px;
        color: #282728;
        font-family: "montserratregular", Helvetica, Arial, sans-serif;
        font-size: 2em;
    }

    img.cr-carhartt-winter-clothing-img {
        width: 100%;
    }

    /*****  Styling for Block-Element: "carhartt-winter-clothing-banner"  *****/


    /*****  Styling for Block-Element: cr-01  *****/

    .cr-01-banner {
        width: 100%;
    }

    .cr-01-mobile-banner {
        display: none;
    }


    @media only screen and (max-width: 768px) {
        .cr-01-banner {
            display: none;
        }

        .cr-01-mobile-banner {
            display: block;
            width: 100%;
        }
    }

    /*****  End Styling for Block-Element: cr-01  *****/



    /*****  Styling for Block-Element: cr-02  *****/

    .cr-02-banner {
        width: 100%;
    }

    .cr-02-mobile-banner {
        display: none;
    }


    @media only screen and (max-width: 768px) {
        .cr-02-banner {
            display: none;
        }

        .cr-02-mobile-banner {
            display: block;
            width: 100%;
        }
    }

    /*****  End Styling for Block-Element: cr-02  *****/



    /*****  Styling for Block-Element cr-03  *****/

    .cr-03-banner {
        width: 100%;
    }

    .cr-03-mobile-banner {
        display: none;
    }


    @media only screen and (max-width: 768px) {
        .cr-03-banner {
            display: none;
        }

        .cr-03-mobile-banner {
            display: block;
            width: 100%;
        }
    }

    /*****  End Styling for Block-Element cr-03  *****/




    /*****  Styling for Block-Element cr-04  *****/

    .cr-04 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2px;
    }

    .cr-04-square {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }

    .cr-04-txt-box {
        display: grid;
        grid-template-rows: 1fr 1fr;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        text-align: center;
    }

    .cr-04-img {
        display: block;
        position: relative;
        width: 100%;
    }


    .cr-04-btn {
        background-color: white;
        color: black;
        font-weight: 800;
        font-size: 14px;
        border: 2px solid black;
        padding: 15px;
        border-radius: 0px;
        white-space: nowrap;
    }

    .cr-04-btn:hover {
        background-color: black;
        color: white;
    }


    @media only screen and (max-width: 768px) {
        .cr-04 {
            grid-template-columns: repeat(1, 1fr);
        }
    }


    /*****  End Styling for Block-Element cr-04  *****/




    /*****  Styling for Block-Element cr-05  *****/

    .cr-05 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .cr-05-txt-panel {
        padding: 0 20%;
        align-self: center;
    }

    img {
        width: 100%;
    }

    .cr-05-txt-panel-h2 {
        margin: 0px 0px 10px 0px;
        font-size: 40px;
        font-family: "montserratregular", Helvetica, Arial, sans-serif;
    }

    .cr-05-txt-panel-txt {
        text-align: justify;
    }

    .cr-05-btn {
        background-color: white;
        color: black;
        font-weight: 800;
        font-size: 14px;
        border: 2px solid black;
        padding: 15px;
        border-radius: 0px;
        white-space: nowrap;
        margin-top: 10px;
    }

    .cr-05-btn:hover {
        background-color: black;
        color: white;
        border: 2px solid black;
    }

    @media only screen and (max-width: 1500px) {
        .cr-05-txt-panel {
            padding: 0 15%;
        }
    }


    @media only screen and (max-width: 1200px) {
        .cr-05-txt-panel {
            padding: 0 10%;
        }
    }


    @media only screen and (max-width: 1200px) {
        .cr-05 {
            grid-template-columns: 2fr 1fr;
        }
    }



    @media only screen and (max-width: 768px) {
        .cr-05 {
            grid-template-columns: 1fr;
        }

        .cr-05-txt-panel {
            padding: 0 10px;
            margin-top: 10px;
            text-align: center;
        }

        .cr-05-btn-div {
            text-align: center;
        }

        .cr-05-txt-panel-h2 {
            font-size: 30px;
        }
    }

    /*****  End Styling for Block-Element cr-05  *****/





    /*****  Styling for Block-Element: cr-06  *****/

    .cr-06 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-family: "montserratregular", Helvetica, Arial, sans-serif;
        margin: 0px 50px;
        grid-gap: 70px;
    }

    .cr-06-product {
        padding: 20px;
        justify-items: center;
    }

    .cr-06-img-div {
        text-align: center;
    }

    img.cr-06-img {
        max-width: 220px;
    }

    .cr-06-text {
        display: grid;
        grid-template-rows: auto auto;
    }

    a.cr-06-link {
        text-decoration: none;
        color: black;
    }

    a.cr-06-link:hover {
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    h3.cr-06-name {
        font-size: .95em;
        margin: 5px auto;
        text-align: center;
        width: 85%;
    }

    h3.cr-06-brand {
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        color: #81907b;
        font-size: .9em;
    }

    .shop-now-btn {
        display: none;
    }

    .cr-06-link+.shop-now-btn {
        display: block;
    }


    @media only screen and (max-width: 1650px) {
        .cr-06 {
            grid-gap: 40px;
        }
    }

    @media only screen and (max-width: 1550px) {
        .cr-06 {
            grid-gap: 20px;
        }
    }


    @media only screen and (max-width: 1415px) {
        .cr-06 {
            margin: 0;
        }
    }

    @media only screen and (max-width: 1360px) {
        .cr-06 {
            grid-gap: 0px;
        }
    }

    @media only screen and (max-width: 1300px) {
        img.cr-06-img {
            width: 100%;
            height: auto;
        }
    }


    @media only screen and (max-width: 1024px) {
        .cr-06-product {
            padding: 5px;
        }
    }


    @media only screen and (max-width: 768px) {
        .cr-06 {
            grid-template-columns: repeat(2, 1fr);
        }

        a.cr-06-link:hover {
            box-shadow: 0 0 0 0;
        }
    }


    @media only screen and (max-width: 620px) {
        .cr-06 {
            grid-template-columns: 1fr;
        }
    }


    /*****  End Styling for Block-Element: cr-06  *****/




    /*****  Styling for Block-Element: "cr-me Carhartt Winter Clothing"  *****/

    .cr-me {
        position: relative;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .cr-me-badge {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0 15px;
        top: 0%;
        right: 0%;
        font-family: "montserratregular", Helvetica, Arial, sans-serif;
        font-size: 2em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr;
        align-items: center;
        width: 32%;
        height: 100%;
        backdrop-filter: blur(6px);
    }

    img.cr-me-img {
        display: block;
    }

    img.cr-me-badge-img {
        display: block;
    }

    img.cr-me-img {
        width: 100%;
    }

    .cr-me-badge-img {
        width: 65%;
        margin: auto;
    }

    .cr-me-h3 {
        width: 100%;
        margin: 5px 0px;
        font-size: 85%;
        color: #CDD8DE;
        white-space: nowrap;
        font-family: "montserratregular", Helvetica, Arial, sans-serif;
    }

    .cr-me-h4 {
        width: 100%;
        margin: 5px 0px;
        font-size: 55%;
        color: #CDD8DE;
        font-family: "montserratregular", Helvetica, Arial, sans-serif;
    }

    .cr-me-btn {
        background-color: #FCB811;
        color: black;
        padding: 10px;
        border: 0px;
        font-weight: 800;
        width: 35%;
        white-space: nowrap;
    }

    .cr-me-badge-img-div {
        grid-row: 2/3;
        margin-bottom: 15px;
    }

    .cr-me-h3-div {
        grid-row: 3/4;
    }

    .cr-me-h4-div {
        grid-row: 4/5;
        align-self: baseline;
    }

    .cr-me-btn-div {
        grid-row: 5/6;
        align-self: baseline;
    }



    @media only screen and (max-width: 1350px) {
        .cr-me-btn-div {
            margin-top: 15px;
        }
    }



    @media only screen and (max-width: 1024px) {
        .cr-me-h3 {
            font-size: 75%;
        }

        .cr-me-h4 {
            font-size: 50%;
        }
    }


    @media only screen and (max-width: 850px) {
        .cr-me-badge {
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }

        .cr-me-h3-div {
            display: none;
        }

        .cr-me-h4-div {
            display: none;
        }

        .cr-me-badge-img-div {
            grid-row: 2/3;
        }

        .cr-me-btn-div {
            grid-row: 3/4;
        }

        .cr-me-btn {
            width: 50%;
        }

        .cr-me-badge-img {
            width: 90%;
        }

    }



    @media only screen and (max-width: 600px) {
        .cr-me-btn {
            width: auto;
        }
    }


    @media only screen and (max-width: 550px) {
        .cr-me-btn-div {
            margin-top: 0px;
        }
    }


    @media only screen and (max-width: 450px) {
        .cr-me-badge-img {
            width: 105%;
        }

        .cr-me-btn {
            width: auto;
            padding: 5px;
        }
    }





    /*****  End Styling for Block-Element: "cr-me Carhartt Winter Clothing"  *****/